[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/victor/Bureau/Esp anas.odt]
row=2
col=1

[/home/victor/Bureau/CV.odt]
row=0
col=1

[/home/victor/Bureau/velo_016.gif]
row=1
col=1

[/home/victor/Bureau/hist.odt]
row=4
col=0

[/home/victor/Bureau/Motiv.odt]
row=5
col=0

[9730b513-7b37-44b9-b99e-c11a9e7b191c]
row=0
col=0

[Corbeille]
row=1
col=0

[/]
row=2
col=0

[/home/victor]
row=3
col=0

