!TERMCOL   HEX     RGB
!-------   ------- -----------
!black     #073642   7  54  66
!red       #dc322f 220  50  47
!green     #859900 133 153   0
!yellow    #b58900 181 137   0
!blue      #268bd2  38 139 210
!magenta   #d33682 211  54 130
!cyan      #2aa198  42 161 152
!white     #eee8d5 238 232 213

!brblack   #002b36   0  43  54
!brred     #cb4b16 203  75  22
!brgreen   #586e75  88 110 117
!bryellow  #657b83 101 123 131
!brblue    #839496 131 148 150
!brmagenta #6c71c4 108 113 196
!brcyan    #93a1a1 147 161 161
!brwhite   #fdf6e3 253 246 227

!!THEME POUR SOLARIZED SUR VIM

!! black dark/light
*.color0:					#073642
*.color8:					#002b36

!! red dark/light
*.color1:					#dc322f
*.color9:          	      	#cb4b16

!! green dark/light
*.color2:                	#859900
*.color10:    		        #586e75

!! yellow dark/light
*.color3:             		#b58900
*.color11:               	#657b83

!! blue dark/light
*.color4:                	#268bd2
*.color12:               	#839496

!! magenta dark/light
*.color5:                	#d33682
*.color13:               	#6c71c4

!! cyan dark/light
*.color6:                	#2aa198
*.color14:               	#93a1a1

!! white dark/light
*.color7:                	#eee8d5
*.color15:               	#fdf6e3

*background:            	#002b36
*foreground:            	#839496
*fadeColor:             	#002b36
*cursorColor:           	#93a1a1
*pointerColorBackground:	#586e75
*pointerColorForeground:	#93a1a1
