URxvt.allow_bold: true
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.fading: 0
URxvt.depth: 0

URxvt.transparent: true
URxvt.shading: 30
!pour retirer : urxvt.transparent: false

URxvt.saveLines: 1000
URxvt.lineSpace: 0
URxvt.loginShell: true
URxvt.urgentOnBell: true



!URxvt.font; xft:Droid Sans Mono
!URxvt.letterSpace: -2
!URxvt.lineSpace: -2
URxvt.font: xft:Monospace-11
!URxvt.boldFont: xft:droid sans mono:medium:pixelsize=11
URxvt.boldFont: xft:Monospace-11:bold
URxvt.italicFont: xft:Monospace-11:italic
URxvt.boldItalicFont: xft:Monospace-11:bold:italic
!URxvt.letterSpace: 0
URxvt.allow_bold: true



