*.swp
*~
\#*\#

# neovim plugins
nvim/.config/nvim/plugged/*
nvim/.config/nvim/autoload/*
nvim/.config/nvim/.netrwhist

# font outputs
font/Output_Fonts/*

# no worries
mpd/*
ncmpcpp/*
neomutt/*
qutebrowser/*
