*.swp
*~
\#*\#

# neovim plugins
neovim/.config/nvim/plugged/*
neovim/.config/nvim/autoload/*

# emacs plugins
emacs/.emacs.d/elpa/
emacs/.emacs.d/history
emacs/.emacs.d/recentf
emacs/.emacs.d/ac-comphist.dat
