[Desktop Entry]
Version=1.0
Type=Application
Name=Evince
Comment=PDF viewer
Exec=evince
Icon=accessories-document-viewer
Path=
Terminal=false
StartupNotify=false
