"*":
  additionalJavacOptions: "-d /home/victor/tmp"
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue Grey"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-terminal":
    app: "/usr/bin/termite"
  autosave:
    enabled: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
      "welcome"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*~"
    ]
    projectHome: "/home/victor"
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "brogrammer-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Iosevka Term"
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "c7af2129-a659-2d1f-8cf8-9aed28e28a33"
  "git-control": {}
  "highlight-selected": {}
  linter: {}
  "linter-javac":
    additionalJavacOptions: "-d /home/victor/ProjetInfo/bin"
  "linter-ui-default": {}
  minimap:
    minimapScrollIndicator: false
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui": {}
  "open-terminal-here":
    command: "/usr/bin/termite"
  "seti-ui":
    compactView: true
  "status-bar": {}
  "tab-switcher":
    reorderTabs: true
  tabs: {}
  "todo-show": {}
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    showIndentGuide: false
".c2hs.source":
  editor:
    tabLength: 2
".cabal.source":
  editor:
    tabLength: 2
".haskell.latex.tex.text":
  editor:
    tabLength: 2
".haskell.source":
  editor:
    tabLength: 2
".hsc2hs.source":
  editor:
    tabLength: 2
".html.jsp.text":
  editor:
    tabLength: 4
".java-properties.source":
  editor:
    tabLength: 4
".java.source":
  editor:
    showIndentGuide: true
    tabLength: 4
".junit-test-report.text":
  editor:
    tabLength: 4
".python.source":
  editor:
    showIndentGuide: true
