input, textarea, select {
	padding: 2px 4px 2px 2px !important;
	color: #CFCFCF;
	background-color: #0D0D0D;
	border-color: #353535;
	-moz-appearance: none !important;
}
html, body, .pun {
	background-color: #0B0B0B !important;
	color: #A5A5A5 !important;
}
.pun .punwrap {
	background-color: #0D0D0D !important;
	border-color: #1A2229 !important;
	color: #6A788B !important;
}
#brdtitle #brddesc, .pun .pagepost, #brdstats #onlinelist, #brdfooter #searchlinks, #brdfooter #modcontrols, #punmaint h2, #punredirect h2, #adminconsole .submittop, .pun #debugtime, .pun .pagelink a, .pun .pagelink * {
	border-color: #293137 !important;
}
.pun a, .pun a:link, .pun a:visited {
	color: #3873BA !important;
}
.pun a:hover, .pun a:active, .pun a:focus {
	color: #E72724 !important;
}
.pun .postmsg .postimg a:link img, .pun .postmsg .postimg a:visited img {
	border-color: #5084C2 !important;
}
.pun .postmsg .postimg a:hover img, .pun .postmsg .postimg a:active img, .pun .postmsg .postimg a:focus img {
	border-color: #E72724 !important;
}
#brdmenu {
	background-color: #919191 !important;
}
#brdmenu a, #brdmenu a:link, #brdmenu a:visited {
	background-color: #919191 !important;
	border-color: transparent !important;
	color: #191C22 !important;
}
#brdmenu a:hover, #brdmenu a:active, #brdmenu a:focus {
	background-color: #A6A6A6 !important;
	border-color: transparent !important;
	color: #199ADF !important;
}
.pun .blocktable .box {
	background-color: #070707 !important;
	border-color: #293137 !important;
}
#punindex .blocktable h2, .pun #vf h2 {
	color: #5B99AE !important;
}
#adminconsole fieldset th, #adminconsole fieldset td {
	background-color: #0B0B0B !important;
	border-color: #0F1319 !important;
}
.pun #users1 h2 {
	background-color: #0D0D0D !important;
}
.pun .blocktable td {
	border-color: #0F1319 !important;
}
.pun .blocktable th {
	background-color: #141414 !important;
	border-color: #1A2229 !important;
	color: #5B99AE !important;
}
.pun .blocktable td.tcl span.stickytext {
	color: #367699 !important;
}
.pun .blockpost {
	background-color: #0B0B0B !important;
	border-color: #293137 !important;
}
.pun .blockpost h2 {
	background-color: #141414 !important;
	border-color: #1A2229 !important;
	color: #5B99AE !important;
}
.pun .blockpost .postbody, .pun .blockpost .postfoot {
	background-color: #070707 !important;
	border-color: #0F1319 !important;
}
.pun .blockpost .postfootright li {
	color: #010202 !important;
}
.pun .postmsg, #punhelp code, #punhelp samp {
	color: #A5A5A5 !important;
}
.pun .postsignature, .pun .postmsg .postedit {
	color: #6A788B !important;
}
.pun .quotebox {
	background-color: #0F0F0F !important;
	border-color: #3B5B66 !important;
	color: #6A788B !important;
}
.pun .quotebox cite {
	color: #5B99AE !important;
}
.pun .codebox, #punhelp .codebox code {
	background-color: #090909 !important;
	color: #199ADF !important;
}
.pun .postmsg hr {
	background-color: #3F3F3F !important;
}
.pun .postmsg ins, #punhelp samp ins {
	background-color: #828282 !important;
}
.pun .blockform .box, #adstats, #adintro, #postpreview, #posterror {
	border-color: #293137 !important;
	background-color: #141414 !important;
}
#punmisc #rules .box, #punhelp .box {
	border-color: #293137 !important;
	background-color: #0B0B0B !important;
}
.pun #quickpost h2, #punpost .blockform h2, #punedit .blockform h2, #posterror h2, #pundelete .blockform h2 {
	background-color: #141414 !important;
	color: #5B99AE !important;
}
.pun .forminfo {
	background-color: #0D0D0D !important;
	border-color: #0F1319 !important;
}
#puninstall form#install .forminfo {
	background-color: #919191 !important;
	color: #199ADF !important;
}
.pun #posterror .error-info {
	background-color: #141414 !important;
	border-color: #0F1319 !important;
}
#puninstall form#install .error-info {
	background-color: #141414 !important;
	border-color: #0F1319 !important;
	color: #A5A5A5 !important;
}
.pun .infldset, #adintro .inbox, #adstats .inbox {
	background-color: #0B0B0B !important;
	border-color: #0F1319 !important;
}
.pun label, .pun legend, #adminconsole fieldset th {
	color: #5B99AE !important;
}
.pun fieldset p {
	border-color: #293137 !important;
}
.pun .blockmenu ul, .pun .blockmenu li {
	border-color: #293137 !important;
}
.pun .blockmenu a:hover, .pun .blockmenu a:active, .pun .blockmenu a:focus {
	background-color: #111111 !important;
}
.pun .blockmenu .isactive a:link, .pun .blockmenu .isactive a:visited {
	color: #A5A5A5 !important;
	background-color: #0B0B0B !important;
}
.pun #viewprofile .box {
	border-color: #293137 !important;
	background-color: #141414 !important;
}
.pun #viewprofile dt, #adstats dt {
	color: #5B99AE !important;
}
.pun #viewprofile dl, .pun #viewprofile dd, #adstats dl, #adstats dd {
	border-color: #0F1319 !important;
}
#adminconsole fieldset td.nodefault {
	background-color: #4B4B4B !important;
}
.pun .multiselect {
	padding: 2px 4px 2px 2px !important;
	color: #5B99AE !important;
}
.pun .checklist {
	background-color: #0D0D0D !important;
	border-color: #292929 !important;
}
.pun .icon {
	border-color: #0C0F12 !important;
}
.pun .iredirect .icon {
	border-color: #293137 !important;
}
.pun .inew .icon {
	border-color: #253A53 !important;
}
html, body, .pun {
	background-color: #0B0B0B !important;
	color: #B3B3B3 !important;
}
.pun .punwrap {
	border-color: #1E2934 !important;
}
.pun a, .pun a:link, .pun a:visited {
	color: #1F9BE6 !important;
}
.pun a:focus, #brdmain a:focus {
	color: #FF3625 !important;
}
.pun a:hover, #brdmain a:hover {
	color: #535353 !important;
}
.pun a:active, #brdmain a:active {
	color: #FF3625 !important;
}
#brdmenu {
	background-color: #0D0D0D !important;
}
#brdmenu a, #brdmenu a:link, #brdmenu a:visited {
	background-color: #0D0D0D !important;
	color: #1F9BE6 !important;
}
#brdmain a:visited {
	color: #7C7C7C !important;
}
#brdmenu a:hover {
	color: #535353 !important;
}
#brdmenu a:active, #brdmenu a:focus {
	color: #FF3625 !important;
}
#punindex .blocktable h2, .pun #vf h2 {
	color: #979797 !important;
}
.pun .blocktable th {
	color: #979797 !important;
}
.pun .blockpost h2 {
	color: #979797 !important;
}
.pun .quotebox cite {
	color: #979797 !important;
}
.pun #quickpost h2, #punpost .blockform h2, #punedit .blockform h2, #posterror h2, #pundelete .blockform h2 {
	color: #979797 !important;
}
.pun label, .pun legend, #adminconsole fieldset th {
	color: #979797 !important;
}
.pun #viewprofile dt, #adstats dt {
	color: #979797 !important;
}
.pun .icon {
	border-color: #0C0F12 !important;
}
.pun .inew .icon {
	border-color: #1F9BE6 !important;
}
.pun .quotebox {
	border-color: #1E2934 !important;
	background-color: #0B0B0B !important;
	color: #979797 !important;
}
.pun .codebox {
	border-color: #1E2934 !important;
	background-color: #141414 !important;
	color: #B3B3B3 !important;
}
#archnavbar {
	background-color: #090909 !important;
	border-bottom-color: #199ADF !important;
}
#archnavbar ul li a {
	color: #535353 !important;
}
#archnavbar ul li a:hover {
	color: #199ADF !important;
	text-decoration: none !important;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
	background-color: #181818 !important;
	border: 1px solid #ccc !important;
	border-radius: 3px !important;
	padding: 2px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
	color: #f3f3f3 !important;
	font-size: 13px !important;
	outline: medium none !important;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus {
	border-color: #4183c4 !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 2px #4183c4 !important;
}
input[class="button"], input[type="submit"], input[type="file"] {
	font-size: 13px !important;
	cursor: pointer !important;
	background: none repeat scroll 0 0 #181818 !important;
	border: 1px solid #ccc !important;
	color: #c4c4c4 !important;
	border-radius: 3px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset !important;
}
input[class="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
	background-color: #333333 !important;
	background-image: linear-gradient(#444444, #333333) !important;
	background-repeat: repeat-x !important;
}
#actionlist input {
	color: #199ADF !important;
	border: none !important;
}
select {
	font-size: 13px !important;
	padding: 2px 4px 2px 2px !important;
	box-sizing: border-box !important;
	background: none repeat scroll 0 0 #181818 !important;
	border: 1px solid #444 !important;
	color: #eee !important;
}
