[Desktop Entry]
Version=1.0
Type=Application
Name=GVim
Comment=Édite des fichiers texte
Exec=gvim -f %F
Icon=gvim
Path=
Terminal=false
StartupNotify=true
