html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #15191B;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto';
  left: 0%;
	right: 0%;
  position: absolute;
  top: 28%;
	bottom:30%;
  width: 100%;
}

h1 {
  color: #E24935;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

h2 {
    color: #3397D8;
    display : block;
    margin: 0 auto;
    text-align: left;
    width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #70838c;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #70838c;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #7c9fa6;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #70838c;
}
