* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Input Mono Condensed;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#mode {
    background-color: #aa0000;
    padding: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If tray is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tray {
    margin-right: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 2px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px #ffffff;
}
#workspaces button.focused {
    background-color: #404040;
    box-shadow: inset 0 2px #ffffff;
}
#workspaces button.urgent {
    background-color: #aa0000;
    box-shadow: inset 0 2px #ffffff;
}

#custom-pacman,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#clock,
#tray {
	padding: 0 10px;
	margin: 0 4px;
	background-color: #404040;
	color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #aa0000;
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: #aa0000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
