@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* hide native tabs */
#TabsToolbar {
  visibility: collapse;
}

/* hide sidebar header */
#sidebar-header {
  visibility: collapse;
}

/* I wanna can see what I type */
/* {{{ */
input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']), textarea, select {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}

#downloads-indicator-counter {
  color: white;
}
/* }}} */ 
